# Ignore Visual Studio files
*.vs/
*.user
.suo
*.cache
*.dll
*.exe
.vs/TwitchPlaysAnything/

# Ignore build output
*bin/
*.suo
*obj/

# Ignore NuGet packages
*packages/
*.nupkg

# Ignore user-specific files
*.userprefs
*.sln.docstates